.DS_Store
.idea
.env
data-postgres
data-postgres/*
rabbitmq/*
rabbitmq/data/*
!rabbitmq/enabled_plugins
!rabitmq/rabbitmq.conf

work/
build/
bin/
target/
.gradle/
.classpath
.checkstyle
.project
.settings/
.idea/
*.iml

mysql/
mysql/*