version: '3.8'

networks:
    laravel:
        driver: bridge

services:

    nginx:
        image: nginx:1.18.0-alpine
        container_name: nginx
        ports:
            - "8080:80"
        volumes:
            - ./src:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            - mysql
        networks:
            - laravel

    php:
        build:
            context: ./php
            dockerfile: Dockerfile
        container_name: php
        ports:
            - "9000:9000"
        volumes:
            - ./src:/var/www/html
        networks:
            - laravel

    mysql:
        image: mysql:8.0.22
        container_name: mysql
        ports:
            - "3306:3306"
        volumes:
            - ./mysql:/var/lib/mysql
            - ./init/db/sql:/docker-entrypoint-initdb.d
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        restart: always 
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        networks:
            - laravel

    node:
        image: node:15-alpine3.10
        container_name: node
        volumes:
            - ./src:/var/www/html
        working_dir: /var/www/html
        networks:
            - laravel

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        ports:
            - 5000:80
        environment:
            - PMA_ARBITRARY=1
            - PMA_HOST=mysql
        restart: always 
        links:
            - mysql
        depends_on:
            - mysql
        networks:
            - laravel
